.button-bar-section{

    width: 100%;
    height: 70px;
    background-color: #1b1b1b;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    gap: 40rem;

}

.button-bar-section > button{

    width: 200px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50px;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;

}