*{

    margin: 0;
    padding: 0;

}

/** Second Button Bar */
.second-button-bar{

    width: 100%;
    height: 70px;
    background-color: #1b1b1b;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}

.second-button-bar > button{

    width: 160px;
    height: 40px;
    border-radius: 50px;
    background-color: #1b1b1b;
    border: 1px solid #ffffff;
    cursor: pointer;

}

.second-button-bar button > a{

    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1px;
    color: #ffffff;

}