footer{

    width: 100%;
    height: auto;

}

/** Proud Participant Section */
footer > .proud-participant{

    width: 100%;

}

.proud-participant > .image-box{

    width: 100%;
    height: 20rem;
    background-color: antiquewhite;
    overflow: hidden;

}

.image-box > img{

    width: 100%;
    height: 100%;
    object-fit: cover;

}

/** Footer Copyright Section */
footer > .footer-copyright{

    width: 100%;
    height: 130px;
    background-color: #101010;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer-copyright > p{

    color: #ffffff87;
    font-size: 12px;

}

.footer-copyright p > a{

    color: #ffffff;
    text-decoration: none;

}