*{

    margin: 0;
    padding: 0;
    scrollbar-width: none;

}

body{

    width: 100%;
    height: 100%;
    background-color: #101010;
    position: relative;

}

/** Art Walk Through & Privilege Entry Parent Section */
.ap-parent-section{

    width: 77%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;

}

/** Inner Section */
.ap-parent-section main > .inner-section{

    width: 100%;
    height: 100%;
    padding: 100px 0px 30px 0px;;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

/** Image Section */
.inner-section > .image-section{

    width: 95%;
    height: 100vh;
    overflow: hidden;

}

.image-section > img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;

}

/** Content Section */ 
.inner-section > .content-section{

    width: 95%;
    height: 100%;
    margin-top: 20px;

}

/** Title Section */
.content-section > .title-section{

    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.title-section > h1{

    color: #ffffff;
    font-size: 35px;

}

/** Form & List Parent Section */
.content-section > .form-list-parent-section{

    width: 100%;
    height: auto;

}

/** Sub Title Section */
.form-list-parent-section > .sub-title-section{

    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;

}

.sub-title-section > h4{

    color: #ffffff;
    letter-spacing: 1px;
    font-size: 20px;

}

/** Inner Form List Main Section */
.form-list-parent-section > .inner-form-list-main-section{

    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    margin-top: 20px;

}

/** Form Section */
.inner-form-list-main-section > .form-section{

    width: 50%;
    height: 100%;

}

/** List Section */
.inner-form-list-main-section > .list-section{

    width: 50%;
    height: 100%;

}

.list-section > ul{

    color: #ffffff82;

}

.list-section ul > li{

    font-size: 15px;
    margin-bottom: 10px;
    line-height: 17px;

}

