<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/styles/Header/header.css">
</head>
<body>
    
    <header>

        <!-- Logo -->
        <div class="logosection">

            <img src="/images/Logo/logo.png" alt="">

        </div>

        <!-- Nav Menu -->
        <div class="navsection">

            <nav>

                <ul>

                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li>Objective</li>
                    <li>Durga Puja Art</a></li>
                    <li>Gallery</a></li>
                    <li><a href="#">Contact</a></li>

                </ul>

            </nav>

        </div>

        <!-- Social Icons -->
        <div class="socialicon">

            <!-- Social Icons Div -->
            <div class="inner-social-icon-section">

                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-linkedin-in"></i>
                <i class="fa-brands fa-x-twitter"></i>

            </div>

            <p>&copy; 2022 Tala Prattoy Society. All Rights Reserved.</p>
            
        </div>

    </header>

</body>
</html>