<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/Button Bar/Secondbuttonbar.css">
</head>
<body>
    
    <!-- Second Button Bar -->
    <div class="second-button-bar">

        <button><a href="/2026/Plan Your Visit">Plan Your Visit</a></button>
        <button><a href="/2026/Art & Artist">Art & Artist</a></button>
        <button><a href="/2026/Advertisement">Advertisement</a></button>

    </div>

</body>
</html>