/** Form Section */
.form-section{

    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;

}

.form-section > span{

    color: #ffffff80;
    letter-spacing: 1px;
    font-size: 16px;

}

.form-section > form{

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;

}

/** First Input */
form > .first-input{

    width: 92%;
    height: 20%;
    display: flex;
    align-items: center;
    gap: 10px;

}

.first-input > input{

    width: 100%;
    padding-left: 10px;
    height: 50px;
    background-color: #1b1b1b;
    border: none;
    font-size: 14px;
    letter-spacing: 1px;
    color: #ffffff;

}

/** Seocnd Input */
form > .second-input{

    width: 92%;
    height: 20%;
    display: flex;
    align-items: center;
    gap: 10px;

}

.second-input > input{

    width: 50%;
    height: 50px;
    background-color: #1b1b1b;
    border: none;
    padding-left: 10px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #ffffff;

}

/** Art Work Input */
form > .artwork-input{

    width: 92%;
    height: 20%;
    display: flex;
    align-items: center;

}

.artwork-input > input{

    width: 100%;
    height: 50px;
    padding-left: 10px;
    font-size: 15px;
    letter-spacing: 1px;
    background-color: #1b1b1b;
    border: none;
    color: #ffffff;

}

/** No Of Guest */
form > .no-of-guest{

    width: 92%;
    height: 20%;
    display: flex;
    align-items: center;

}

.no-of-guest > select{

    width: 100%;
    height: 50px;
    padding-left: 10px;
    letter-spacing: 1px;
    font-size: 13px;
    color: #ffffff;
    background-color: #1b1b1b;
    border: none;

}

/** Date Input */
form > .calender-input{

    width: 92%;
    height: 20%;
    display: flex;
    align-items: center;

}

.calender-input > input{

    width: 100%;
    height: 50px;
    padding-left: 10px;
    font-size: 13px;
    letter-spacing: 1px;
    background-color: #1b1b1b;
    border: none;
    color: #ffffff;

}

/** Time Input */
form > .time-input{

    width: 92%;
    height: 20%;
    display: flex;
    align-items: center;

}

.time-input > select{

    width: 100%;
    height: 50px;
    padding-left: 10px;
    font-size: 13px;
    letter-spacing: 1px;
    background-color: #1b1b1b;
    border: none;
    color: #ffffff;

}

/** Reason Input */
form > .reason-input{

    width: 92%;
    height: 20%;
    background-color: antiquewhite;

}

.reason-input > select{

    width: 100%;
    height: 50px;
    padding-left: 10px;
    font-size: 13px;
    letter-spacing: 1px;
    background-color: #1b1b1b;
    border: none;
    color: #ffffff;

}

/** Third Input */
form > .third-input{

    width: 90%;
    height: 40%;

}

.third-input > textarea{

    width: 100%;
    height: 150px;
    padding: 10px 0px 0px 10px;
    background-color: #1b1b1b;
    border: none;
    font-size: 14px;
    letter-spacing: 1px;
    color: #ffffff;
    resize: none;

}

/** Button Section */
form > .button-section{

    width: 90%;
    height: 20%;
    display: flex;
    align-items: center;

}

.button-section > button{

    width: 180px;
    height: 40px;
    background-color: #1b1b1b;
    border: none;
    color: #ffffffaf;
    font-size: 15px;
    letter-spacing: 2px;
    border-radius: 50px;
    cursor: pointer;

}