<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/Plan Art & Advertisement/art_artist.css">
</head>
<body>
    
    <!-- Art & Artist Section -->
    <div class="art-artist-section">

        <!-- Title Section -->
        <div class="title-section">

            <h1> Art and Artist </h1>

        </div>

        <!-- Para Section -->
        <div class="para-section">

            <p>Tala Prattoy, in its journey to encourage and expand Art aspects of Durga Puja, has been acclaimed by all quarters for
            its essence of festivity with Art. Eminent artists with their creations projected the feel of the humanity and time in
            different years. And there have always been aesthetically expressed a vast area of imagery and reality.</p>

        </div>

        <!-- Artist Section -->
        <div class="artist-section">

            <!-- Title Section -->
            <div class="title-section">

                <h2> Artist </h2>

            </div>

            <!-- Artist Image Section -->
            <div class="artist-image-section">

                <img src="/images/Art Image/artist_image.jpg" alt="">
                <span>Bhabatosh Sutar</span>

            </div>

            <!-- Artist Details -->
            <div class="artist-details-section">

                <!-- Inner Box -->
                <div class="artist-details-inner-box">

                    <p>Born in 1974. Graduated from the Government College of Art & Craft, Kolkata in 2000. He delved into the genre of Durga
                    Puja art and has received critical acclaim for his creative talent. He has created a body of ephemeral art for more than
                    two decades which have crossed barriers and boundaries of public art and moved millions of people through his
                    experiential design. He is one of the key members of Chanderhaat collective which is involved in the process of
                    investigating, exploring and living in the surrounding of Sarsuna, Kolkata which is an unique blend of urban, moffusil
                    and rural. It is a habitation which is in itself an universe of migratory stories and revelations.</p>

                </div>
                
            </div>

        </div>

    </div>

</body>
</html>