*{

    margin: 0;
    padding: 0;

}

/** Plan Your Visit */
.plan-your-visit-main-section{

    width: 100%;
    height: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

/** Title Section */
.plan-your-visit-main-section > .plan-your-visit-title-section{

    width: 95%;
    height: 50px;
    display: flex;
    align-items: center;

}

.plan-your-visit-title-section > h1{

    color: #ffffff;
    font-size: 40px;
    letter-spacing: 1px;

}

/** Details Toggle Section */
.plan-your-visit-main-section > .plan-your-visit-details-section{

    width: 95%;
    height: 100%;
    margin: 30px 0px;

}

.plan-your-visit-details-section > ul{

    list-style-type: none;

}

.plan-your-visit-details-section ul > li{

    border-bottom: 2px solid #ffffff;
    margin-bottom: 10px;
    color: #ffffff;
    cursor: pointer;
    padding: 0px 0px 10px 0px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

}

/** Title Section */
.plan-your-visit-details-section ul li > .title-section{

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2rem;

}

.plan-your-visit-details-section ul li .title-section > h3{

    font-size: 18px;
    font-weight: 500;

}

.plan-your-visit-details-section ul li .title-section > i{

    font-size: 20px;
    transition: all 0.5s ease;

}

/** Inner Details Section */
.plan-your-visit-details-section ul li > .inner-details{

    height: 0rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    opacity: 0;
    transform: translateX(-1000px);
    transition: all 0.5s ease;

}

.inner-details > p{

    color: #ffffff82;
    font-size: 17px;
    line-height: 20px;

}

/** Toggle List Box Style */
.plan-your-visit-details-section ul li > .toggle-list-box-style{

    height: 3rem;
    opacity: 1;
    transform: translateX(0px);

}

/** Toggle List Box Icon Style */
.plan-your-visit-details-section ul li .title-section > .toggle-list-box-icon-style{

    transform: rotate(45deg) translateX(5px);
    font-size: 25px;
    color: red;

}

