*{

    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;;

}

header{

    width: 23%;
    height: 100%;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;

}

header > .logosection{

    width: 100%;
    height: 15%;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

header > .navsection{

    width: 100%;
    height: auto;
    padding: 30px 0px 30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;

}

.navsection > nav{

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.navsection nav > ul{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    text-align: center;
    gap: 10px;
    width: 80%;

}

.navsection nav ul > li{

    width: 100%;
    color: #ffffff;
    border-bottom: 1px solid rgba(220, 220, 220, 0.141);
    padding: 0px 0px 5px 0px;
    height: 34px;
    font-size: 17px;
    color: rgba(220, 220, 220, 0.675);
    transition: all 0.5s ease;
    cursor: pointer;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.navsection nav ul li > a{

    text-decoration: none;
    color: rgba(220, 220, 220, 0.675);
    transition: all 0.5s ease;
    letter-spacing: 1px;

}

.navsection nav ul > li:hover{

    color: #ffffff;

}

.navsection nav ul li > a:hover{

    color: #ffffff;

}

/** Puja Year */
.navsection nav ul > .puja-years{

    width: 100%;
    height: 0rem;
    overflow: hidden;
    margin-bottom: -10px;
    opacity: 0;
    transition: all 0.5s ease;

}

.navsection nav ul > .puja-years ul li{

    border-bottom: none;

}

.navsection nav ul > .puja-years ul li a {

    font-size: 14px;

}

.navsection nav ul > .puja-years-toggle{

    height: 25rem;
    margin-bottom: 5px;
    border-bottom: 1px solid #ffffff2b;
    opacity: 1;

}

/** Objective Items */
.navsection nav ul > .objective-items{

    overflow: hidden;
    width: 100%;
    height: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -10px;
    opacity: 0;
    transition: all 0.5s ease;

}

.navsection nav ul .objective-items > ul{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

}

.navsection nav ul .objective-items ul > li{

    border-bottom: none;

}

.navsection nav ul .objective-items ul > li a{

    font-size: 14px;
    line-height: 18px;
    width: 100%;

}

.navsection nav ul > .objective-toggle{

    height: 6.5rem;
    opacity: 1;
    margin-bottom: -5px;
    border-bottom: 1px solid #ffffff2b;

}

/** Gallery Items */
.navsection nav ul > .gallery-items{

    width: 100%;
    overflow: hidden;
    height: 0rem;
    margin-bottom: -10px;
    transition: all 0.5s ease;
    opacity: 0;

}

.navsection nav ul .gallery-items ul > li{

    border: none;
    font-size: 14px;

}

/** Toggle Gallery */
.navsection nav ul > .toggle-gallery{

    height: 5rem;
    opacity: 1;
    border-bottom: 1px solid #ffffff2b;
    margin-bottom: 2px;

}

/** Social Icon Section */
header > .socialicon{

    width: 100%;
    height: 35%;
    text-align: center;

}

/** Inner Social Icon Div */
.socialicon > .inner-social-icon-section{

    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
    align-items: center;
    height: 50px;
    margin-bottom: 10px;

}

.inner-social-icon-section > i{

    font-size: 18px;
    color: #ffffff;
    cursor: pointer;

}

.socialicon > p{

    color: rgb(220, 220, 220);
    font-size: 13px;
    
}

