<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/Favicon/favicon.png">
    <link rel="stylesheet" href="/styles/About/About.css">
    <title>Tala Prottoy - About</title>
</head>
<body>
    
    <!-- Header -->
    <%- include('../partials/header.ejs') %>

    <!-- Parent Main Container -->
    <div class="parent-container">

        <!-- Main -->
        <main>

            <!-- Banner Image Container -->
            <div class="page_banner_single_image_section">
            
                <img src="/images/Banner/about_banner.jpg" alt="">
            
            </div>

            <!-- Content Section -->
            <div class="about-page-content-section">

                <!-- About Intro Section -->
                <div class="about-page-intro-div">

                    <!-- Inner Intro Section -->
                    <div class="about-inner-intro-div">

                        <h2> Tala Prattoy </h2>
                        <p>Tala Prattoy Society is a Kolkata-based socio-culturally inclined organization. We are a not-for-profit organization
                        where proceeds are to be utilized for making art objects and artists. Tala Prattoy is a home for public art in the
                        sphere of installation & sculpture and enhancing skill. We are committed to make art available for exhibition,
                        decoration, display and learning. We always try to work to reach luxury art destination with our community activated art
                        arena.</p>

                    </div>
                
                </div>

                <!-- About Our Vision -->
                <div class="about-our-vision">

                    <!-- Inner Our Vision -->
                    <div class="about-inner-our-vision">

                        <h2>Our Vision</h2>
                        <ul>

                            <li>To be committed in the promotion of art, culture & heritage.</li>
                            <li>To encourage, enhance art and expand its reach to global arena.</li>
                            <li>To be a leading and vibrant organisation of excellence in installation art and sculpture.</li>
                            <li>To build an integrated modern system of skill development for a good today and a better tomorrow.</li>
                            <li>To enhance the core identity to the global extent.</li>

                        </ul>

                    </div>

                </div>

                <!-- About Our Mission -->
                <div class="about-our-mission">

                    <!-- Inner Our Mission -->
                    <div class="about-inner-our-mission">

                        <h2> Our Mission </h2>
                        <ul>

                            <li>To set the benchmark of performance in art field.</li>
                            <li>To foster an environment for the promotion of creative thinking.</li>
                            <li>To be a creative hub of original, innovative and quality art and artist.</li>

                        </ul>

                    </div>

                </div>

                <!-- About Thrust Area -->
                <div class="about-thrust-area">

                    <!-- Inner Thrust Area -->
                    <div class="about-inner-thrust-area">

                        <h2>Thrust Area</h2>
                        <ul>

                            <li>Creation of temporary work of art whose impact, message and notion behind it would remain forever.</li>
                            <li>The application of aesthetics in creative piece of installation art and sculpture.</li>
                            <li>Skill development comprises of conventional art techniques as well as modern emerging mediums.</li>

                        </ul>

                    </div>

                </div>

            </div>

            <!-- Button Bar Section -->
            <%- include('../partials/Buttonbar.ejs') %>

            <!-- Produd Winner Section -->
            <%- include('../partials/Proudwinner.ejs') %>

        </main>

        <!-- Footer -->
        <%- include('../partials/footer.ejs') %>

    </div>

</body>
</html>