*{

    margin: 0;
    padding: 0;

}

/** Year Details Section */
.year-details-section{

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

}

/** Inner Year Details Section */
.year-details-section > .inner-year-details-section{

    width: 95%;
    height: 100%;

}

/** Content Section */
.inner-year-details-section > .content-section{

    width: 100%;
    height: auto;
    /* background-color: antiquewhite; */


}

/** Title Para Section */
.content-section > .title-para-section{

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;

}

.title-para-section > h1{

    color: #ffffff;

}

.title-para-section > h4{

    color: #ffffff;
    font-size: 15px;
    letter-spacing: 1px;

}


.title-para-section > p{

    color: #ffffff82;
    font-size: 15px;
    line-height: 20px;

}

/** Other Details Section */
.content-section > .other-details-list-section{

    width: 100%;
    height: 100%;
    padding: 50px 0px;

}

.other-details-list-section > ul{

    list-style-type: none;

}

.other-details-list-section ul > li{

    font-size: 13px;
    margin-bottom: 30px;
    color: #ffffff82;
    letter-spacing: 1px;

}

.other-details-list-section ul li > span{

    color: #ffffff82;

}

.other-details-list-section ul > #dpa_li_1{

    color: #ffffff;

}

/** Image Section */
.content-section > .image-section{

    width: 100%;
    height: 100%;
    padding: 50px 0px 20px 0px;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;

}

/** Inner Image Box */
.image-section > .inner-image-div{

    width: 350px;
    height: 250px;
    background-color: antiquewhite;
    overflow: hidden;

}

.inner-image-div > img{

    width: 100%;
    height: 100%;
    object-fit: cover;

}