*{

    margin: 0;
    padding: 0;
    scrollbar-width: none

}

body{

    width: 100%;
    height: 100%;
    background-color: #101010;
    position: relative;

}

/** Durga Puja Art Main Section */
.durga-puja-art-main-section{

    width: 77%;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;

}

/** Inner Section */
.durga-puja-art-main-section main > .durga-puja-art-main-inner-section{

    width: 100%;
    height: 100%;
    padding: 100px 0px 30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

/** Image Section */
.durga-puja-art-main-inner-section > .durga-puja-image-section{

    width: 95%;
    height: 100vh;

}

.durga-puja-image-section > img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;

}