*{

    margin: 0;
    padding: 0;
    scrollbar-width: none

}

body{

    width: 100%;
    height: 100%;
    position: relative;
    background-color: #101010;

}

/** Video Parent Section */
.video-parent-section{

    width: 77%;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;

}

/** Inner Video Section */
.video-parent-section > .inner-video-section{

    width: 100%;
    height: 100%;

}

/** Video Box */
.inner-video-section > .video-box-section{

    width: 100%;
    height: 100%;
    padding: 70px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

/** Title Section */
.video-box-section > .title-section{

    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.title-section > h1{

    color: #ffffff;
    font-size: 30px;

}

/** Video Section */
.video-box-section > .video-section{

    width: 95%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;

}

.video-section > iframe{

    width: 350px;
    height: 250px;

}
