*{

    margin: 0;
    padding: 0;
    scrollbar-width: none;

}

body{

    width: 100%;
    height: 100%;
    background-color: #101010;
    position: relative;

}

/** Promotion Of Installation Art Parent Container */
.promotion-of-installation-parent-container{

    position: absolute;
    top: 0;
    right: 0;
    width: 77%;
    height: auto;

}

/** Promotion Art Image Container */
.promotion-of-installation-parent-container main > .promotion-art-inner-container{

    width: 100%;
    height: 100%;
    padding: 100px 0px 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

/** Image Container */
.promotion-art-inner-container > .image-container{

    width: 95%;
    height: 100vh;
    overflow: hidden;
    margin-bottom: 20px;

}

.image-container > img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;

}

/** Title Section */
.promotion-art-inner-container > .title-section{

    width: 95%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.title-section > h1{

    color: #ffffff;
    font-size: 30px;
    letter-spacing: 1px;

}

/** Content Section */
.promotion-art-inner-container > .content-section{

    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.content-section > ul{

    list-style-type: none;

}

.content-section ul > li{

    color: #ffffff7f;
    margin-bottom: 10px;
    line-height: 20px;
    font-size: 16px;

}